@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

img {
  width: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

header {
  text-align: center;
  position: relative;
}

header .nav-bar {
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar .site-logo {
  width: 40%;
}

header .nav-bar .mobile-menu #mobile-menu-button {
  display: none;
}

header .nav-bar .mobile-menu-container {
  left: 0;
  right: 0;
  margin: 100% auto 0;
  position: absolute;
  text-align: center;
  background-color: white;
  width: 90%;
  padding: 2.5rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

header .nav-bar .mobile-menu-container .menu-item {
  color: gray;
  font-family: "Barlow", sans-serif;
}

header .nav-bar .mobile-menu-container .contact {
  background-color: yellow;
  width: 50%;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: black;
  font-family: "Fraunces", sans-serif;
  border-radius: 50px;
}

header .nav-bar .mobile-menu-container .contact a {
  color: black;
}

header .hero-heading {
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  word-spacing: 10px;
  font-size: 2.5rem;
  font-family: "Fraunces", sans-serif;
  color: white;
  letter-spacing: 5px;
  margin: 0 auto;
  top: 25%;
}

header .arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2.8rem;
  top: 50%;
}

main {
  width: 100%;
  height: 100%;
  margin-top: -2%;
  gap: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

main section,
main div {
  text-align: center;
}

main section h2,
main section aside,
main div h2,
main div aside {
  font-family: "Fraunces", sans-serif;
}

main section article,
main section p,
main section span,
main div article,
main div p,
main div span {
  font-family: "Barlow", sans-serif;
}

main .transform-section .transform {
  padding: 3rem 1rem;
}

main .transform-section .transform h2 {
  color: #23303e;
  font-size: 2rem;
  margin-bottom: 2rem;
}

main .transform-section .transform article {
  color: #5a636c;
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 2rem;
}

main .transform-section .transform a {
  color: #23303e;
  text-decoration: underline;
  -webkit-text-decoration-color: lightcoral;
          text-decoration-color: lightcoral;
  text-decoration-thickness: 5px;
}

main .stand-out-section .stand-out {
  padding: 3rem 1rem;
}

main .stand-out-section .stand-out h2 {
  width: 90%;
  margin: 0 auto;
}

main .stand-out-section .stand-out h2 {
  color: #23303e;
  font-size: 2rem;
  margin-bottom: 2rem;
}

main .stand-out-section .stand-out article {
  color: #5a636c;
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 2rem;
}

main .stand-out-section .stand-out a {
  color: #23303e;
  text-decoration: underline;
  -webkit-text-decoration-color: lightcoral;
          text-decoration-color: lightcoral;
  text-decoration-thickness: 5px;
}

main .graphics {
  background: url("/images/mobile/image-graphic-design.jpg") no-repeat top;
  background-size: 100%;
}

main .graphics .graphic-info {
  color: #25564b;
  margin: 110% auto 0;
  width: 90%;
}

main .graphics .graphic-info h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

main .graphics .graphic-info article {
  margin-bottom: 3rem;
}

main .photographics {
  background: url("/images/mobile/image-photography.jpg") no-repeat top;
  background-size: 100%;
}

main .photographics .photo-info {
  color: #19536b;
  margin: 110% auto 0;
  width: 90%;
}

main .photographics .photo-info h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

main .photographics .photo-info article {
  margin-bottom: 3rem;
}

main .testimony {
  margin-top: 3rem;
  width: 100%;
}

main .testimony .test-heading {
  font-size: 1.2rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: #818498;
}

main .testimony section {
  padding: 3rem 2.5rem;
}

main .testimony section .client-pfp {
  margin-bottom: 2rem;
  width: 25%;
  border-radius: 50px;
}

main .testimony section article {
  margin-bottom: 2rem;
  line-height: 25px;
  font-size: 1.2rem;
  color: #5a636c;
}

main .testimony section aside h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #23303e;
}

main .testimony section aside span {
  color: #818498;
  font-size: 1.1rem;
}

main .gallery {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

footer {
  background-color: #90D4C5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0 5rem;
}

footer .footer-logo {
  width: 50%;
}

footer .nav {
  width: 100%;
  padding: 3rem 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .nav span {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
}

footer .nav span a {
  color: #569A8B;
  text-decoration: none;
}

footer .social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 7rem 0;
}

footer .social img {
  color: #307767;
}
/*# sourceMappingURL=style.css.map */